@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
:root {
    --color-active: #F3F3F3;
    --color-border-tab: #52526B;
    --color-tabpanes: #818191;
}
.section-profile {
    min-height: 100vh;
    position: relative;
}
.banner {
    height: 290px;
    width: 100%;
}
.banner img {
    width: 100%;
    height: 100%;
}
.profile-page {
    position: relative;
    margin-top: calc(-1 * 8rem);
    margin-left: 96px;
    margin-right: 96px;
}
.profile-page .space-btn-cover {
    display: flex;
    justify-content: flex-end;
}
.profile-page .btn-change-cover {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    padding: 4px 6px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
}
.profile-page .btn-change-cover label {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.profile-page .btn-change-cover img {
    margin-right: 4px;
}
.profile-page .btn-logout {
    display: flex;
    align-items: center;
    margin-left: 8px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    border: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);
    outline: none;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    padding: 4px 16px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    line-height: 18px;
}
.profile-information {
    min-height: 500px;
    background: #16162A;
    margin-top: 15px;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    -ms-border-radius:12px;
    -o-border-radius:12px;
    border-radius:12px;
    padding: 32px;
    box-shadow: 0px 4px 50px 0px #00000012;
}
.header-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header-profile h3, .header-profile h5 {
    margin: 0;
}
.header-profile > .profile-name {
    font-size: 32px;
    line-height: 36px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: var(--color-active);
}
.header-profile > .more-info {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8E8EA3;
}
.select-profile {
    display: none;
}
.tabs-profile {
    display: flex;
    margin-top: 32px;
    border-bottom: 1px solid var(--color-border-tab);
}
.tabs-profile .tabpanes {
    padding: 12px 16px 8px 16px;
}
.tabs-profile .tabpanes a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--color-tabpanes);
}
.tabs-profile .tabpanes .active {
    background: linear-gradient(90deg, #563EEE 0%, #5C7AE5 100%);
    background-size:100% 4px;
    background-position:bottom 0 left 0,bottom 5px left 0;
    background-repeat:no-repeat;
}
.tabs-profile .tabpanes .active a {
    color: var(--color-active);
}
.content-profile {
    padding-top: 64px;
}
.content-profile .information-page,
.content-profile .career-page, 
.content-profile .education-page,
.content-profile .gallery-page{
    padding: 32px;
    border: 1px solid #52526B;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
.header-information {
    position: relative;
}
.header-information h3,.header-information h5 {
    margin: 0;
}
.header-information .name-tabs {
    color: var(--color-active);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 2px;
}
.header-information .desc-tabs {
    color: #8E8EA3;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
}
.header-information  .btn-edit-profile {
    all: unset;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}
.form-information {
    display: flex;
    margin-top: 32px;
}
.form-information .information-user, .information-picture {
    flex: 1;
}
.form-information .information-picture {
    padding-left: 32px;
}
.form-information .title-information {
    color: var(--color-active);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
}
.form-information form {
    margin-top: 32px;
}
.form-information form .field {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-information form .field label {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height:18px;
    color: var(--color-active);
}
.form-information form .field .field-input {
    margin: 8px 0;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-bottom: 1px solid #52526B;
    box-sizing: border-box;
    color: var(--color-active);
}
.form-information form .field  .field-bio {
    margin: 8px 0;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #52526B;
    box-sizing: border-box;
    min-height: 160px;
    background: transparent;
    color: var(--color-active);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: 18px;
    line-height: 28px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
.form-information .field-photo {
    width: 100%;
    margin-bottom: 24px;
}
.form-information .field-photo img {
    width: 200px;
    height: 200px;
    margin-bottom: 24px;
}
.form-information .field-photo .select-file {
    display: none;
}
.form-information .field-photo .btn-media {
    width: 200px;
    background: #5C7AE5;
    text-align: center;
    padding: 0 24px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
.form-information .field-photo .btn-media label {
    cursor: pointer;
}
.form-information .field-photo .desc-file {
    width: 100%;
    text-align: center;
    color: #8E8EA3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
}
.form-information .space-button {
    margin-top: 96px;
    display: flex;
}
.form-information .space-button > .btn {
    cursor: pointer;
    background: transparent;
    height: 48px;
    margin-right: 16px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #818191;
    box-sizing: border-box;
    color: var(--color-active);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
}
.form-information .space-button > .btn:last-child {
    margin-right: 0;
}
.form-information .space-button > .btn-career {
    background: #EAEAFF;
    color: #16162A;
}
.list-career {
    margin-top: 90px;
    width: 100%;
}
.list-career .list-item {
    margin-bottom: 16px;
}
.list-career .list-item h4,
.list-career .list-item h5 {
    margin: 0;
}
.list-career .list-item  h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 8px;
    color: var(--color-active);
}
.list-career .list-item h5 {
    color: #8E8EA3;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
.list-gallery {
    margin-top: 32px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
}
.item-gallery {
    width: 100%;
}
.item-gallery img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media (max-width: 480px){
    .profile-page {
        margin-left: 15px;
        margin-right: 15px;
    }
    .form-information {
        flex-direction: column;
    }
    .form-information .information-picture {
        padding-left: 0;
    }
   .tabs-profile {
       display: none;
   }
   .select-profile {
       display: block;
       width: 100%;
       margin-top: 32px;
       border-bottom: 1px solid var(--color-border-tab);
   }
   .select-profile select {
        width: 100%;
        height: 44px;
        padding: 0 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 18px;
        line-height: 24px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px;
    }
}
@media only screen and (max-width: 1279px) and (min-width: 1025px){
    .profile-page {
        margin-left: 35px;
        margin-right: 35px;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
    .profile-page {
        margin-left: 15px;
        margin-right: 15px;
    }
    .form-information {
        flex-direction: column;
    }
    .form-information  .information-picture {
        padding-left: 0;
    }
}
@media only screen and (max-width: 768px) and (min-width: 481px){
    .profile-page {
        margin-left: 15px;
        margin-right: 15px;
    }
    .form-information {
        flex-direction: column;
    }
    .form-information .information-picture {
        padding-left: 0;
    }
}