@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --color-sider: #292946;
    --color-main: #16162A;
    --color-logo: #F3F3F3;
    --color-desc: #8E8EA3;
    --bg-notification: #494980;
    --width-sider: 560px;
    --width-main: calc(100% - var(--width-sider));
}
.res_notification {
    margin-top: 16px;
    background-color: var(--bg-notification);
    display: flex;
    padding: 16px;
    flex-direction: row;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    align-items: flex-start;
}
.res_notification > img {
    width: 20px;
    height: 20px;
}
.res_notification .caption-notif {
    flex: 1;
    margin-left: 18px;
    margin-right: 18px;
    color: var(--color-logo);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}
.btn-close {
    cursor: pointer;
    all: unset;
}
.btn-close  > img {
    width: 14px;
    height: 14px;
}