@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
:root {
    --color-time: #8E8EA3;
    --color-active: #F3F3F3;
    --color-tabpanes: #818191;
    --color-border-tab: #52526B;
}
.auth-page {
    padding: 96px;
}
.tabs {
    display: flex;
    margin-top: 32px;
    border-bottom: 1px solid var(--color-border-tab);
}
.tabs .tabpanes {
    cursor: pointer;
    padding: 12px 16px 8px 16px;
}
.tabs .tabpanes a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color: var(--color-tabpanes);
}
.tabs .active {
    background: linear-gradient(90deg, #563EEE 0%, #5C7AE5 100%);
    background-size:100% 4px;
    background-position:bottom 0 left 0,bottom 5px left 0;
    background-repeat:no-repeat;
}
.tabs .active  a {
    color: var(--color-active);
}
.form-register, .form-login, .form-otp {
    margin-top: 64px;
    padding: 32px;
    border: 1px solid #52526B;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.form-register, .form-login, .form-otp .title-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--color-active);
}
.form-register, .form-login, .form-otp .title-form  p {
    margin: 0;
    font-size: 12px;
    color: #8E8EA3;
    font-weight: 300;
    font-style: normal;
    line-height: 16px;
}
.form-register, .form-login, .form-otp form {
    margin-top: 32px;
}
.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin-bottom: 24px;
}
.field  > label {
    width: 100%;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--color-active);
    line-height: 18px;
    margin-bottom: 8px;
}
.field > .field-input {
    width: 100%;
    padding: 0 16px;
    border: 1px solid #52526B;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    height: 44px;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-active);
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.field .field-country {
    cursor: pointer;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-active);
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.space-button {
    margin-top: 96px;
    display: flex;
}
.space-button > .btn {
    cursor: pointer;
    background: transparent;
    height: 48px;
    margin-right: 16px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #818191;
    box-sizing: border-box;
    color: var(--color-active);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
}
.space-button > .btn:last-child {
    margin-right: 0;
}
.space-button > .btn-login, .btn-register {
    background: #EAEAFF;
    color: #16162A;
}
.section-otp {
    min-height: 100vh;
}
.otp {
    margin-top: 32px;
    display: flex;
    height: 48px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.otp  > .btn-verify-otp {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    background: #EAEAFF;
    padding: 0 24px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.space-otp {
    margin-top: 38px;
    display: flex;
    align-items: center;
}
.space-otp  img {
    width: 20px;
    height: 20px;
}
.space-otp .btn-resent-otp {
    all: unset;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #5C7AE5;
    margin-left: 8px;
}
@media (max-width: 480px){
    .auth-page {
        padding: 30px;
    }
 }
 @media only screen and (max-width: 1024px) and (min-width: 769px){
     .auth-page {
         padding: 54px;
     }
 }