@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root {
    --color-sider: #292946;
    --color-main: #16162A;
    --color-logo: #F3F3F3;
    --color-desc: #8E8EA3;
    --bg-notification: #494980;
    --width-sider: 560px;
    --width-main: calc(100% - var(--width-sider));
}

.App {
  width: 100%;
}
.inner-page {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
 
}
.logo {
  position: relative;
  top: 96px;
  left: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 131px;
}
.logo img {
  width: 24px;
  height: 24px;
}
.logo label {
  margin-left: 12px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  color: var(--color-logo);
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
}
.inner-page > .sider {
  width: var(--width-sider);
  background-color: var(--color-sider);
  color: white;
  position: relative;
}
.inner-page  > .main-app {
  width: var(--width-main);
  background-color: var(--color-main);
  color: white;
  min-height: 100vh;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  padding-left: 39px;
  width: 332px;
  position: relative;
  top: 184px;
  left: 96px;
}
.welcome-page  > h3 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: var(--color-logo);
  margin-bottom: 16px;
  margin-top: 0;
}
.welcome-page > desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-desc);
}
@media (max-width: 480px){
  .inner-page {
      display: block;   
  }
  .inner-page .sider {
    display: none;
  }
  .inner-page .main-app {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) and (min-width: 481px){
  .inner-page {
      display: block;   
     
  }
  .inner-page .sider {
    display: none;
  }
  .inner-page .main-app {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 769px){
  .inner-page > .main-app {
    width: calc(100% - 250px)
  }
  .inner-page > .sider {
    width: 250px;
  }
  .logo {
      top: 54px;
      left: 20px;
  }
  .welcome-page {
      top: 100px;
      left: 5px;
      width: 200px;
  }
}

@media only screen and (max-width: 1279px) and (min-width: 1025px){
  .inner-page  > .main-app {
    width: calc(100% - 350px)
  }
  .inner-page> .sider {
    width: 350px;
  }
  .logo {
      left: 30px;
  }
  .welcome-page {
      left: 30px;
      width: 200px;
  }
}